.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.fiche {
  width: 60%;
  height: 100%;
  display: block;
  margin: 0;
  border: 1px solid grey;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

h2,h3,p {
  padding-left: 20px;
}

.quote{
  font-size: 1rem;
  padding: 5px 0px;
}

.quote-copy{
  font-size: 1rem;
}

h1 {
  display: block;
  color: crimson;
  margin-left: 20px;
}

.btn-box{
  border-top: 1px solid gray;
  background-color: #efefef;
}
.btn {
  margin: 10px 20px;
  padding: 5px 15px;
  font-size: 1rem;
}


